<form>
    <div class="form-group">
        <input type="text" 
        name="searchStr" 
        [(ngModel)]="searchStr" 
        (keyup)="getQuery()" 
        class="form-control" 
        placeholder="Enter city...">
    </div>
</form>

<div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let result of results">
            <a (click)="chooseCity(result)">{{result.name}}</a>
        </li>
    </ul>
</div>
<br/>
<div *ngIf="weather">
    <div class="col-md-6 col-md-offset-3">
        <h3>The weather in {{weather.display_location.full}}</h3>
    <div class="row">
    <div class="col-md-4 ">
        <img src="{{weather.icon_url}}">
    </div>
    <div class="col-md-4" >
        <h4>{{weather.weather}}</h4>
    </div>
    <div class="col-md-4" >
        <h4>{{weather.temp_c}} &deg;C</h4>
    </div>
     </div>
     </div>
</div>



